.wrapper{
    background-color: transparent;
    color: #333;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    // margin-right: 16px;
    padding: 8px;

    .title{
        color:black;
    }
    .text{
        font-size: 1.4rem;
    font-weight: 500;
    line-height: 40px;
    }

    .icon {
        display: inline-block;
        width: 24px;
        text-align: center;
    }
    .whiteColor{
        color: var(--white-color);
    }
    .svg_icon{
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        left: 16px;
    }
}



// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

// rounded
.btn_login{
    width: 100%;
    margin: 8px 0;
    background-color: var(--black-color);
    border-radius: 10px;
    border: 1px solid var(--black-color);
    padding: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_register{
    width: 100%;
    color: var(--white-color);
    margin: 8px 0;
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_login_google{
    width: 100%;
    color: var(--black-color);
    margin: 8px 0;
    font-weight: 600;
    background: var(--white-color);
    border: 1px solid var(--black-color);
    gap: 10px;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.back{
    position: fixed;
    top: 7px;
    left: 10px;
    display: flex;
    gap: 6px;
    padding: 20px;
    font-size: 1.6rem;
    opacity: .7;
    transition: opacity .2s;
    color:gray;


    .title{
        color: gray !important;
        font-weight: 400;
    }

    &:hover{
        .title,.icon{
            color: black !important;
        }
       
    }
}
.login-btn{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    border: 1px solid #dee3e9;
    font-weight: 600;
    font-size: 1.6rem;
    white-space: nowrap;
    cursor: pointer;
    transition: opacity .25s;
    border-radius: 100px;
    background-color: #1dbfaf;

    .title{
        color:white;
    }
}