.wrapper{
    background-color: #F3F4F8;
    padding: 64px 0; 
}
.container{
    width: 80%;
    margin: 0 auto;
}
.heading{
    margin-bottom: 64px;

    h1{
        font-size: 30px;
        font-weight: 600;
        color:var(--black-color)
    }
    span{
        font-size: 14px;
        margin-top: 8px;
        display: block;
    }
}
.listCourse{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;

}

@media (max-width: 800px) {
    .listCourse {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}